@import "styles/globals.scss";

%fadeInAnim {
  transition: opacity 175ms ease-in;
}

%border {
  border: 0;
  border-color: none;
  box-shadow: none;
}

.button {
  @extend %border;
  align-items: center;
  background-color: white();
  cursor: pointer;
  display: flex;
  height: inherit;
  justify-content: center;
  margin: 0;
  padding: 0;
  user-select: none;
  will-change: transform;
  @include fadeinout;

  &:disabled {
    @extend %border;
  }

  &:hover,
  &:focus {
    @extend %border;
  }

  &:hover:not([disabled]) {
    opacity: 0.75;
  }

  &:active:not([disabled]) {
    outline-color: transparent !important;
    opacity: 1;
  }
}
