html,
body,
#root {
  height: 100%;
}

.header {
  grid-area: header;
  background: blue;
  color: white;
}

.content {
  grid-area: content;
  background: gray;
}

.footer {
  grid-area: footer;
  background: red;
  color: white;
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "content"
    "footer";
}
