@import "./global.scss";

html,
body,
#root {
  height: 100%;
}

.content {
  grid-area: content;
  background: gray;
}

.footer {
  grid-area: footer;
  background: red;
  color: white;
}

.wrapper {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "content"
    "footer";
  min-height: 100%;
}
