@import "styles/global.scss";

.wrapper {
  height: 100vh;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  flex: 1 1 100%;
  width: 100%;
  z-index: 1000;
}

.shade {
  position: relative;
  background: white(0.7);
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  width: inherit;
  will-change: transform;
}

.drawer {
  align-items: center;
  background: accent(50);
  background: linear-gradient(180deg, acent(50) 0%, acent(100) 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 68vw;
  will-change: transform;
  z-index: 10002;
}

.header {
  box-sizing: border-box;
  border: 1px solid white();
  margin: 1rem 1rem 0 1rem;

  &_after {
    background: white();
    background: linear-gradient(180deg, white() 0%, white(0) 100%);
    display: block;
    height: 0.5rem;
    margin-bottom: 0.5rem;
    width: calc(100% - 2rem);
  }
}

.close {
  display: block;
  height: 3rem;
  position: absolute;
  top: 1.5rem;
  right: 75vw;
  width: 1.5rem;
  z-index: 10001;

  .closeButton {
    background: transparent;
  }

  .closeIcon {
    color: grey(900);
    height: 3rem;
    width: 2.2rem;
  }
}

.hidden {
  display: none !important;
}
