@import "styles/globals.scss";

%bar-height {
  height: 3rem;

  @include mq-tablet {
    height: 3.5rem;
  }
}

.navigation {
  @extend %bar-height;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 4rem;
  justify-content: space-between;
  left: 0;
  margin: 0;
  padding-right: 12px;
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: grey(900);
  padding-bottom: 1rem !important;

  &__wrapper {
    @extend %bar-height;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
  }
}

.menu {
  &__drawerButton {
    background: transparent;
  }

  &__link {
    @extend %bar-height;
    display: block;
    padding: 0;
    @include fadeinout;

    @include mq-tablet {
      flex: 0 1 auto;
    }
  }

  &__drawerIcon {
    color: white();
    height: 2.2rem;
  }

  &__mobileHeaderIcon {
    color: white();
    margin-left: -1rem;
  }
}
