@import "styles/global.scss";

.navigation {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 3rem;
  justify-content: space-between;
  left: 0;
  margin: 0;
  padding-right: 12px;
  position: absolute;
  top: 0;
  width: 100vw;
  background-color: black(0.25);
}

.menu {
  &__drawerButton {
    background: transparent;
  }

  &__drawerIcon {
    height: 2.2rem;
    color: white();
  }

  &__mobileHeaderIcon {
    color: white();
  }
}
