@import "styles/global.scss";

.navigation {
  align-items: center;
  display: flex;
  height: 3rem;
  justify-content: space-between;
  left: 0;
  margin: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  background-color: aqua;

  &_mobile {
    background-color: acent();
    margin: 0;
  }
}

.menuButton {
  height: 3rem;
  background: pink;
  color: grey(900);
}
