@import "styles/global.scss";

.home {
  align-items: stretch;
  display: grid;
  font-size: 1rem;
  justify-content: stretch;
  grid-template-areas:
    "header"
    "comic"
    "art"
    "social"
    "shop";
  min-height: 100%;
  width: 100%;
  background: black();
}

.bg {
  @include picture("assets/images/neptune_03");
}

.header {
  grid-area: header;
  margin-top: 4rem;
  height: 2erm;
  background: lightcoral;
}

.comic {
  grid-area: comic;
  height: 3em;
  background: red;
  overflow: hidden;
}

.art {
  grid-area: art;
  height: auto;
  background: green;
  overflow: hidden;
}

.social {
  grid-area: social;
  height: 2rem;
  background: gray;
  overflow: hidden;
}

.shop {
  grid-area: comic;
  height: 2rem;
  background: peru;
  overflow: hidden;
}
