@import "styles/global.scss";

.home {
  align-items: stretch;
  display: grid;
  font-size: 1rem;
  justify-content: stretch;
  grid-row-gap: 0;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "jumbotron"
    "comics"
    "doodles"
    "portfolio";
  min-height: 100%;
  width: 100%;
  background: grey(800);
  color: white();
}

.jumbotron {
  grid-area: jumbotron;
  padding-top: 3rem;
  background: blue;

  @include mq-tablet {
    padding-top: 3.5rem;
  }
}

.comics {
  grid-area: comic;
  min-height: 20rem;
}

.doodles {
  grid-area: doodles;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-content: center;
  min-height: 20rem;
}

.portfolio {
  grid-area: portfolio;
  min-height: 20rem;
  // height: minmax(20rem, auto);
}

.image {
  display: flex;
}
