@import "styles/global.scss";

.home {
  align-items: stretch;
  display: grid;
  font-size: 1rem;
  justify-content: stretch;
  grid-row-gap: 0;
  grid-template-columns: auto;
  grid-template-rows: repeat(5, minmax(20rem, auto));
  grid-template-areas:
    "header"
    "comic"
    "art"
    "storyboards"
    "shop";
  min-height: 100%;
  width: 100%;
  background: grey(800);
  color: white();
}

.header {
  grid-area: header;
  padding-top: 3rem;
}

.comics {
  grid-area: comic;
}

.art {
  grid-area: art;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-content: center;
}

.storyboards {
  grid-area: storyboards;
}

.shop {
  grid-area: shop;
}

.image {
  display: flex;
}
